<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Neo code coverage">
                <Configuration>
                    <DebugInfo>C:\Users\harry\Source\neo\seattle\samples\registrar-sample\src\bin\sc\registrar.nefdbgnfo</DebugInfo>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>