<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="common-local" value="C:\Users\harry\Source\nuget\" />
    <add key="ngdenterprise" value="https://pkgs.dev.azure.com/ngdenterprise/Build/_packaging/public/nuget/v3/index.json" />
  </packageSources>
</configuration>
